<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Profile Grid Reto 1
    </title>
    <meta charset="UTF-8">
    <meta name="Description" content="Reto 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../../style/stylegrid.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="container-page">

    <header id="logo">

        <img src="../../img/profile/hombre.svg" alt="Profile" id="image-logo">


    </header>


    <section id="menu">
        <p>
            Menú Principal
        </p>
    </section>


    <section id="menu2">
        <p>
            Contacto
        </p>
    </section>

    <nav id="icon-index">

        <a href="../../index.html">
            <img src="../../img/icon/main.svg" alt="Menu">
        </a>



    </nav>
    <nav id="icon-contact">

        <a href="../contact/contact-flex.html">
            <img src="../../img/icon/contact.svg" alt="Contacto">
        </a>


    </nav>

    <section id="name">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" placeholder="Samuel" readonly>
    </section>


    <section id="surname">
        <label for="inputSurname">Apellidos</label>
        <input type="text" class="form-control" id="inputSurname" placeholder="Romero Arbelo" readonly>
    </section>

    <section id="address">
        <label for="inputAddress">Direccion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Calle Mi casa 1 Gran Canaria"
               readonly>
    </section>
    <section id="country">
        <label for="inputPais">Pais</label>
        <input type="text" class="form-control" id="inputPais" placeholder="España" readonly>
    </section>

    <section id="email">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="micorreo@gmail.com" readonly>
    </section>
    <section id="password">
        <label for="inputPassword">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Mi Password" readonly>
    </section>

    <footer id="footer">

        <p> &#169 Samuel Romero Arbelo</p>

    </footer>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>
