html, body {
    height: 100%;
    margin: 0;
}


#container-page > #logo {
    grid-area: head;
    justify-self: center;

}

#image-logo {
    width: 8rem;
}

#container-page > #menu > p {
    grid-area: index;
    background-color: #D9F6E1;
    padding: 0;
    margin: 0;
    text-align: center;
}

#container-page > #menu2 > p {
    grid-area: contact;
    background-color: #D9F6E1;
    padding: 0;
    margin: 0;
    text-align: center;
}

#container-page > #icon-index {
    grid-area: iconIndex;
    justify-self: center;
}

#container-page > #icon-profile {
    grid-area: iconProfile;
    justify-self: center;
}

nav > a > img {
    width: 4rem
}


#container-page > #name {
    grid-area: name;
}

#container-page > #surname {
    grid-area: surname;
}

#container-page > #type-contact {
    grid-area: type-contact;
    width: 50%;
    justify-self: center;
}


#container-page > #email {
    grid-area: email;
}

#container-page > #sms {
    grid-area: sms;
}


#container-page > #button-email {
    grid-area: btnEmail;
    justify-self: center;
}


#container-page > #button-sms {
    grid-area: btnSms;
    justify-self: center;
}

#container-page > #footer {
    grid-area: footer;
    justify-self: center;
}


@media (min-width: 360px) {
    #container-page {
        display: grid;
        padding: 10px;
        width: auto;
        height: 100%;
        grid-template-areas: "head head" "index index"
        "iconIndex iconIndex"
        "contact contact"
        "iconProfile iconProfile"
        "name name"
        "surname surname"
        "type-contact type-contact"
        "email email"
        "btnEmail btnEmail"
        "sms sms"
        "btnSms btnSms"
        "footer footer";
        grid-template-rows: 8rem 20px 4rem 20px 4rem repeat(7, 100px) 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        font-weight: bold;
        font-family: "Century Schoolbook L", monospace;
    }


    #container-page > #menu {
        grid-area: index;
        background-color: #D9F6E1;

    }


    #container-page > #menu2 {
        grid-area: contact;
    }

    #container-page > #icon-index {
        grid-area: iconIndex;


    }

    #container-page > #icon-contact {
        grid-area: iconContact;

    }

    #container-page > #name {
        grid-area: name;
    }

    #container-page > #surname {
        grid-area: surname;
    }

    #container-page > #address {
        grid-area: address;
    }

    #container-page > #country {
        grid-area: country;
    }

    #container-page > #email {
        grid-area: email;
    }

    #container-page > #sms {
        grid-area: sms;
    }

    #container-page > #button-email {
        grid-area: btnEmail;
        ;
    }


    #container-page > #button-sms {
        grid-area: btnSms;

    }
}


@media (min-width: 575px) {

    #container-page {
        display: grid;
        padding: 30px;
        width: auto;
        height: 100%;
        grid-template-areas: "head head"
        "index contact"
        "iconIndex iconProfile"
        "name surname"
        "type-contact type-contact"
        "email sms"
        "btnEmail btnSms"
        "footer footer";
        grid-template-rows: 8rem 20px 4rem repeat(4, 100px) 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        font-weight: bold;
        font-family: "Century Schoolbook L", monospace;

    }

    #footer {
        font-size: calc(1px + 1vw);

    }

}





