<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Contact Reto 1
    </title>
    <meta charset="UTF-8">
    <meta name="Description" content="Reto 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../../style/styleflex.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container-fluid" id="container-profile">

    <div class="row" id="image-row">

        <img src="../../img/icon/contact.svg" alt="Imagen" id="image-profile">
    </div>


    <div class="row" id="icons-row">
        <div class="col">
            <div class="row row-cols-1">
                <div class="col">
                    <p class="text-menu">
                        Menú Principal
                    </p>
                </div>
                <div class="col">
                    <a href="../../index.html">
                        <img src="../../img/icon/main.svg" alt="Menu" class="icons-menu">
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row row-cols-1">
                <div class="col">
                    <p id="text-menu-profile">
                        Perfil
                    </p>
                </div>
                <div class="col">
                    <a href="../profile/profile-flex.html">
                        <img src="../../img/icon/perfil.svg" alt="Profile" class="icons-menu">
                    </a>
                </div>
            </div>
        </div>


    </div>
    <form>
        <div class="form-row">
            <div class="col-md-6">
                <label for="inputName">Nombre</label>
                <input type="text" class="form-control" id="inputName" placeholder="Samuel" readonly>
            </div>
            <div class="col-md-6">
                <label for="inputSurname">Apellidos</label>
                <input type="text" class="form-control" id="inputSurname" placeholder="Romero Arbelo" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="select-contact">Método de Contacto</label>
                <select class="form-control" id="select-contact">
                    <option>Seleccione una opción</option>
                    <option>miemail@gmail.com</option>
                    <option>Movil (612 345 689)</option>

                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="text-email">Escribir Email</label>
                <textarea class="form-control" id="text-email" rows="3"
                          placeholder="Aquí iría el texto a enviar en el Email"></textarea>
                <div class="row send-button">
                    <button type="button" class="btn btn-light">Enviar Email</button>
                </div>

            </div>
            <div class="form-group col-md-6">
                <label for="text-sms">Escribir SMS</label>
                <textarea class="form-control" id="text-sms" rows="3"
                          placeholder="Aquí iría el texto a enviar en el SMS"></textarea>

                <div class="row send-button">

                    <button type="button" class="btn btn-light">Enviar SMS</button>
                </div>
            </div>

        </div>


    </form>


</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>
