<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Contact Grid Reto 1
    </title>
    <meta charset="UTF-8">
    <meta name="Description" content="Reto 1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../../style/stylegridContact.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="container-page">

    <header id="logo">

        <img src="../../img/icon/contact.svg" alt="Profile" id="image-logo">


    </header>


    <section id="menu">
        <p>
            Menú Principal
        </p>
    </section>


    <section id="menu2">
        <p>
            Perfil
        </p>
    </section>

    <nav id="icon-index">

        <a href="../../index.html">
            <img src="../../img/icon/main.svg" alt="Menu">
        </a>



    </nav>
    <nav id="icon-profile">

        <a href="../profile/profile-grid.html">
            <img src="../../img/icon/perfil.svg" alt="Perfil">
        </a>


    </nav>

    <section id="name">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" placeholder="Samuel" disabled>
    </section>


    <section id="surname">
        <label for="inputSurname">Apellidos</label>
        <input type="text" class="form-control" id="inputSurname" placeholder="Romero Arbelo" disabled>
    </section>

    <section id="type-contact">
        <label for="select-contact">Método de Contacto</label>
        <select class="form-control" id="select-contact">
            <option>Seleccione una opción</option>
            <option>miemail@gmail.com</option>
            <option>Movil (612 345 689)</option>

        </select>
    </section>

    <section id="email">
        <label for="text-email">Escribir Email</label>
        <textarea class="form-control" id="text-email" rows="3"
                  placeholder="Aquí iría el texto a enviar en el Email"></textarea>


    </section>
    <section id="sms">
        <label for="text-sms">Escribir SMS</label>
        <textarea class="form-control" id="text-sms" rows="3"
                  placeholder="Aquí iría el texto a enviar en el SMS"></textarea>

    </section>
    <section id="button-email">

            <button type="button" class="btn btn-light">Enviar Email</button>

    </section>


    <section id="button-sms">
        <button type="button" class="btn btn-light">Enviar SMS</button>
    </section>
    <footer id="footer">

        <p> &#169 Samuel Romero Arbelo</p>

    </footer>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>
